<template>
  <article class="form-container">
    <button @click="openTemplate" class="button-small button-open">Template</button>
    <div class="template-container" v-if="templateOpen">
    <button @click="closeTemplate" class="button-small button-close">Close</button>
    <div class="template-picker">
        <h3>Templates</h3>
      <button
        v-for="template in templates"
        :key="template.templateName"
        class="button-template"
        @click="selectTemplate(template.template)"
      >{{template.templateName}}</button>
    </div>
    <div class="template-save">
      <label for="templatename">Template Name</label>
      <input name="templatename" v-model="templateName" type="text" />
      <button @click="saveTemplate()" class="button-small">Template speichern</button>
    </div>
    </div>
    <div class="form-row">
      <label for="headline">Rechnungs Titel</label>
      <input name="headline" type="text" v-model="headline" />
    </div>
    <div class="form-group">
      <h3>Allgemein</h3>
      <div class="form-row">
        <label for="number">Number</label>
        <input name="number" type="number" v-model.number="number" />
      </div>
      <div class="form-row">
        <label for="total">Total</label>
        <input name="total" type="number" step="any" v-model.number="total" />
      </div>
      <div class="form-row">
        <label for="date">Date</label>
        <input name="date" type="date" v-model="date" />
      </div>
      <div class="form-row">
        <label for="daysToPay">Days to Pay</label>
        <input name="daysToPay" type="number" v-model.number="daysToPay" />
      </div>
    </div>
    <div class="form-group">
      <h3>Empfänger</h3>
      <div class="form-row">
        <label for="recipientName">Name</label>
        <input name="recipientName" type="text" v-model="recipientName" />
      </div>
      <div class="form-row">
        <label for="recipientAddress">Addresse</label>
        <input name="recipientAddress" type="text" v-model="recipientAddress" />
      </div>
      <div class="form-row">
        <label for="recipientCity">PLZ</label>
        <input name="recipientCity" type="text" v-model="recipientCity" />
      </div>
    </div>
    <!-- JOB DESCRIPTIONS -->
    <div class="form-group">
      <h3>Aufgabenbeschreibung</h3>
      <div class="job-form" v-for="job in jobs" :key="job.id">
        <div class="form-row">
          <label :for="'jobname-'+ job.id">Name</label>
          <input
            :name="'jobname-'+ job.id"
            type="text"
            :value="jobName(job.id)"
            @input="updateJobName($event, job.id)"
          />
        </div>
        <div class="form-row">
          <label :for="'joboptions' + job.id">Optionen</label>
          <input
            :name="'joboptions' + job.id"
            type="text"
            :value="jobOptions(job.id)"
            @input="updateJobOptions($event, job.id)"
          />
        </div>
        <div class="form-row">
          <label :for="'jobtext' + job.id">Beschreibung</label>
          <textarea
            :name="'jobtext' + job.id"
            :value="jobText(job.id)"
            @input="updateJobText($event, job.id)"
          ></textarea>
        </div>
      </div>
      <button @click="addJob" class="add-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          viewBox="0 0 357 357"
          style="enable-background:new 0 0 357 357;"
          xml:space="preserve"
          class
        >
          <g>
            <g>
              <g id="add">
                <path
                  d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"
                  data-original="#000000"
                  class="active-path"
                />
              </g>
            </g>
          </g>
        </svg>
        Beschreibung hinzufügen
      </button>
    </div>

    <div class="form-group">
      <h3>Anmerkungen</h3>
      <div class="form-row" v-for="note in notes" :key="note.id">
        <label :for="'notetext' + note.id">Anmerkungstext</label>
        <textarea
          :name="'notetext'+ note.id"
          :value="noteText(note.id)"
          @input="updateNoteText($event, note.id)"
        ></textarea>
      </div>
      <button @click="addNote" class="add-button">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          viewBox="0 0 357 357"
          style="enable-background:new 0 0 357 357;"
          xml:space="preserve"
          class
        >
          <g>
            <g>
              <g id="add">
                <path
                  d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"
                  data-original="#000000"
                  class="active-path"
                />
              </g>
            </g>
          </g>
        </svg>
          Anmerkung hinzufügen</button>
    </div>
    <div class="form-group">
      <h3>Persönliches</h3>
      <div class="form-row">
        <label for="phrase">Floskel</label>
        <input name="phrase" type="text" v-model="phrase" />
      </div>
      <div class="form-row">
        <label for="name">Name</label>
        <input name="name" type="text" v-model="name" />
      </div>
    </div>
    <div class="form-group">
      <h3>Kontakt Daten</h3>
      <div class="form-row">
        <label for="contactName">Name</label>
        <input name="contactName" type="text" v-model="contactName" />
      </div>
      <div class="form-row">
        <label for="contactAddress">Addresse</label>
        <input name="contactAddress" type="text" v-model="contactAddress" />
      </div>
      <div class="form-row">
        <label for="contactCity">PLZ</label>
        <input name="contactCity" type="text" v-model="contactCity" />
      </div>
      <div class="form-row">
        <label for="contactPhone">Telefon</label>
        <input name="contactPhone" type="text" v-model="contactPhone" />
      </div>
      <div class="form-row">
        <label for="contactMail">E-Mail</label>
        <input name="contactMail" type="email" v-model="contactMail" />
      </div>
      <div class="form-row">
        <label for="contactBankName">Bank Name</label>
        <input name="contactBankName" type="text" v-model="contactBankName" />
      </div>
      <div class="form-row">
        <label for="contactIBAN">IBAN</label>
        <input name="contactIBAN" type="text" v-model="contactIBAN" />
      </div>
      <div class="form-row">
        <label for="contactBIC">BIC</label>
        <input name="contactBIC" type="text" v-model="contactBIC" />
      </div>
      <div class="form-row">
        <label for="contactUST">UST</label>
        <input name="contactUST" type="text" v-model="contactUST" />
      </div>
    </div>
  </article>
</template>

<script>
export default {
  data() {
    return {
      templateName: "",
      templateOpen: false
    };
  },
  computed: {
    templates() {
      return this.$store.state.templates.list;
    },
    invoice() {
      return this.$store.state.invoices.activeInvoice;
    },
    headline: {
      get() {
        return this.$store.state.invoices.activeInvoice.headline;
      },
      set(value) {
        this.$store.commit("invoices/updateHeadline", value);
      }
    },
    number: {
      get() {
        return this.$store.state.invoices.activeInvoice.number;
      },
      set(value) {
        this.$store.commit("invoices/updateNumber", value);
      }
    },
    date: {
      get() {
        let date = this.$store.state.invoices.activeInvoice.date;
        let parsed = new Date(date);

        return parsed && parsed.toISOString().split("T")[0];
      },
      set(value) {
        let parsed = new Date(value);
        this.$store.commit("invoices/updateDate", parsed);
      }
    },
    daysToPay: {
      get() {
        return this.$store.state.invoices.activeInvoice.daysToPay;
      },
      set(value) {
        this.$store.commit("invoices/updateDaysToPay", value);
      }
    },
    recipientName: {
      get() {
        return this.$store.state.invoices.activeInvoice.recipientName;
      },
      set(value) {
        this.$store.commit("invoices/updateRecipientName", value);
      }
    },
    recipientAddress: {
      get() {
        return this.$store.state.invoices.activeInvoice.recipientAddress;
      },
      set(value) {
        this.$store.commit("invoices/updateRecipientAddress", value);
      }
    },
    recipientCity: {
      get() {
        return this.$store.state.invoices.activeInvoice.recipientCity;
      },
      set(value) {
        this.$store.commit("invoices/updateRecipientCity", value);
      }
    },
    jobs: {
      get() {
        return this.$store.state.invoices.activeInvoice.jobs;
      },
      set(value) {
        this.$store.commit("invoices/updateJobs", value);
      }
    },
    total: {
      get() {
        return this.$store.state.invoices.activeInvoice.total;
      },
      set(value) {
        this.$store.commit("invoices/updateTotal", value);
      }
    },
    notes: {
      get() {
        return this.$store.state.invoices.activeInvoice.notes;
      },
      set(value) {
        this.$store.commit("invoices/updateNotes", value);
      }
    },
    phrase: {
      get() {
        return this.$store.state.invoices.activeInvoice.phrase;
      },
      set(value) {
        this.$store.commit("invoices/updatePhrase", value);
      }
    },
    name: {
      get() {
        return this.$store.state.invoices.activeInvoice.name;
      },
      set(value) {
        this.$store.commit("invoices/updateName", value);
      }
    },
    contactName: {
      get() {
        return this.$store.state.invoices.activeInvoice.contactName;
      },
      set(value) {
        this.$store.commit("invoices/updateContactName", value);
      }
    },
    contactAddress: {
      get() {
        return this.$store.state.invoices.activeInvoice.contactAddress;
      },
      set(value) {
        this.$store.commit("invoices/updateContactAddress", value);
      }
    },
    contactCity: {
      get() {
        return this.$store.state.invoices.activeInvoice.contactCity;
      },
      set(value) {
        this.$store.commit("invoices/updateContactCity", value);
      }
    },
    contactPhone: {
      get() {
        return this.$store.state.invoices.activeInvoice.contactPhone;
      },
      set(value) {
        this.$store.commit("invoices/updateContactPhone", value);
      }
    },
    contactMail: {
      get() {
        return this.$store.state.invoices.activeInvoice.contactMail;
      },
      set(value) {
        this.$store.commit("invoices/updateContactMail", value);
      }
    },
    contactBankName: {
      get() {
        return this.$store.state.invoices.activeInvoice.contactBankName;
      },
      set(value) {
        this.$store.commit("invoices/updateContactBankName", value);
      }
    },
    contactIBAN: {
      get() {
        return this.$store.state.invoices.activeInvoice.contactIBAN;
      },
      set(value) {
        this.$store.commit("invoices/updateContactIBAN", value);
      }
    },
    contactBIC: {
      get() {
        return this.$store.state.invoices.activeInvoice.contactBIC;
      },
      set(value) {
        this.$store.commit("invoices/updateContactBIC", value);
      }
    },
    contactUST: {
      get() {
        return this.$store.state.invoices.activeInvoice.contactUST;
      },
      set(value) {
        this.$store.commit("invoices/updateContactUST", value);
      }
    }
  },
  methods: {
    selectTemplate(template) {
      return this.$store.commit("invoices/set_active_invoice", template);
    },
    saveTemplate() {
      this.$store.dispatch("templates/create_template", this.templateName);
    },
    addJob() {
      this.$store.commit("invoices/add_job");
    },
    addNote() {
      this.$store.commit("invoices/add_note");
    },

    jobName(id) {
      return this.$store.getters["invoices/getJobNameByID"](id);
    },
    jobText(id) {
      return this.$store.getters["invoices/getJobTextByID"](id);
    },
    jobOptions(id) {
      return this.$store.getters["invoices/getJobOptionsByID"](id);
    },
    noteText(id) {
      return this.$store.getters["invoices/getNoteTextByID"](id);
    },
    updateJobName(event, id) {
      this.$store.commit("invoices/updateJobName", {
        id: id,
        value: event.target.value
      });
    },
    updateJobText(event, id) {
      this.$store.commit("invoices/updateJobText", {
        id: id,
        value: event.target.value
      });
    },
    updateJobOptions(event, id) {
      this.$store.commit("invoices/updateJobOptions", {
        id: id,
        value: event.target.value
      });
    },
    updateNoteText(event, id) {
      this.$store.commit("invoices/updateNoteText", {
        id: id,
        value: event.target.value
      });
    },
    openTemplate() {
        this.templateOpen = true;
    },
    closeTemplate() {
        this.templateOpen = false;
    }
  }
};
</script>

<style lang="scss">
$color-accent-200: hsl(43, 98%, 85%);
$color-accent-300: hsl(43, 98%, 65%);
$color-accent-500: hsl(43, 98%, 49%);
$color-accent-900: hsl(43, 98%, 25%);
$color-neutral-200: hsl(210, 12%, 85%);
$color-neutral-300: hsl(210, 22%, 80%);
$color-neutral-500: hsl(210, 22%, 45%);
$color-neutral-900: hsl(210, 22%, 11%);

label {
  display: block;
  font-family: "Fira Mono";
  font-size: 12px;
  margin-bottom: 4px;
}

.template-container {
    border: 2px solid $color-neutral-900;
    padding: 16px 24px;
    position: fixed;
    top: 200px;
    width: 100%;
    max-width: calc(1200px - 170px);
    background: white;
    z-index: 100;
}

.template-picker {
    margin-bottom: 40px;
}

.button-small {
    padding: 4px 0px;
    border: none;
    display: block;
}

.button-open {
    position: absolute;
    top: 80px;
    right: 80px;
    font-size: 20px;
    padding: 4px 8px;
    transition:background .3s;

    &:hover {
        background: $color-accent-300;
    }
}

.button-close {
    position: absolute;
    top: 5px;
    right: 15px;
}

.button-template {
    background: $color-accent-300;
    border: none;
    padding: 4px 8px;

    &:hover {
        background: $color-accent-500;
    }
}

h3 {
      margin-bottom: 20px;
      font-family: "Lato";
      font-weight: bold;
  }

.form-group {
  margin-bottom: 40px;
}

.form-row {
  margin-bottom: 20px;
}

input {
  font-family: "Lato";
  font-size: 18px;
  border: none;
  width: 100%;
  max-width: 450px;
  background: $color-accent-300;
  color: $color-neutral-900;
  padding: 8px 8px;
  font-weight: 300;
}

textarea {
  font-family: "Lato";
  font-size: 18px;
  border: none;
  width: 100%;
  max-width: 450px;
  background: $color-accent-300;
  color: $color-neutral-900;
  padding: 8px 4px;
  font-weight: 300;
}

.job-form {
    margin-bottom: 40px;

    &:last-of-type {
        margin-bottom: 20px;
    }
}

.add-button {
  height: 52px;
  width: 100%;
  max-width: 450px;
  border: none;
  padding: 0;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  padding: 4px 0px;
  color: $color-neutral-900;
  position: relative;

  &:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 0px;
      background: $color-accent-300;
      transition: width .3s;
      z-index: -1;
  }

  svg {
    display: block;
    width: 20px;
    height: auto;
    margin-right: 16px;
    transition: margin-left .3s;
  }

  &:hover {
      svg {
          margin-left: 8px;
      }

    &:after {
        width: 100%;
    }
  }
}
</style>