<template>
<div class="print-container">
    <div class="edit-container">
    <nuxt-link :to="'/invoices/' + invoice.number + '/edit'" class="action-button">Edit</nuxt-link>
    <div class="save-template">
    <label for="templatename">Template Name</label>
    <input name="templatename" v-model="templateName" type="text">
    <button class="button-small" @click="saveTemplate()">Save Template</button>
    </div>
    </div>
<div class="wrap">
<div class="main">
<h1>{{ invoice.headline}}</h1>
<div class="entry recipient" data-label="Empfänger">
    <p> {{ invoice.recipientName }} </p>
    <p> {{ invoice.recipientAddress }} </p>
    <p> {{ invoice.recipientCity }} </p>
</div>
<div class="entry numbers">
    <p data-label="R. Nr">{{ invoice.number}}</p>
    <p data-label="Datum">{{ formatDate(invoiceDate) }}</p>
    <p data-label="Zahlungsziel">{{ formatDate(payDate)}}</p>
    </div>
    <div class="entry" :data-label="item.name" v-for="item in invoice.jobs" :key="item.name">
        <p :class="item.options">{{ item.text }}</p>
    </div>
<div class="entry total" data-label="Gesamt">
    <p><span> {{ calculatedTotal }} Euro</span></p>
</div>
<div class="entry notes" data-label="Anmerkungen">
        <p v-for="item in invoice.notes" :key="item.id">{{ getNoteText(item.text) }}</p>
</div>
<div class="entry">
    <p>{{invoice.phrase}}</p>
    <p class="bold">{{invoice.name}}</p>
    </div>
<div class="entry contact">
    <p>{{ invoice.contactName }}</p>
    <p>{{ invoice.contactAddress }}</p>
    <p>{{ invoice.contactCity }}</p>
    <br/>
    <p>{{ invoice.contactPhone }}</p>
    <p>{{ invoice.contactMail }}</p>
    <br/>
    <p>{{ invoice.contactBankName }}</p>
    <p>{{ invoice.contactIBAN }}</p>
    <p>{{ invoice.contactBIC }}</p>
    <p>{{ invoice.contactUST }}</p>
</div>
<img src="@/static/logo.png" alt="logo" class="logo">
</div>

</div>
</div>

</template>

<script>
export default {
    data() {
        return {
            templateName: ""
        }
    },
    computed: {
        invoice() {
            return this.$store.state.invoices.activeInvoice
        },
        invoiceDate() {
            var date = new Date(this.invoice.date)
            return date
        },

        payDate() {
            var date = new Date(this.invoice.date)
            date.setDate(date.getDate() + this.invoice.daysToPay)
            return date
        },
        calculatedTotal() {
            let totalInEuro = this.invoice.total / 100
            return totalInEuro.toString().replace(".", ",")
        }

},
methods: {
    formatDate(date) {
        let month = date.getMonth() + 1
        if (month < 10) {
            month = "0" + month
        }
        return `${date.getDate()}.${month}.${date.getFullYear()}`
    },
    saveTemplate() {
        this.$store.dispatch("templates/create_template", this.templateName)
    },
    getNoteText(value) {
        if (value.includes("{{toPay}}")) {
            value = value.replace("{{toPay}}", this.formatDate(this.payDate))
        }
        return value
    }

},

fetch ({ store, route }) {
        return store.commit("invoices/set_active", route.params.number)
  }


}

</script>


<style lang="scss" scoped>
.print-container {
        font-family: "Lato", sans-serif;
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #151b21;
        background: hsl(210, 22%, 11%);
}

@media print {
    body {
        background: none;
    }
}

* {
    box-sizing: border-box;
}
    
div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    position: relative; 
    width: 100%;
    overflow-wrap: break-word;

}

h1 {
    transform: rotate(90deg); 
    transform-origin: 0% 100%;
    position: absolute;
    bottom: 100%;
    padding: 0;
    margin: 0;
    font-size: 32px;
}

.wrap {
    height: 100%;
    width: 100%;
    max-width: 210mm;
    margin: 0 auto;
    padding: 9mm 21mm 15mm;
    background: white;
    }


.main {
    position: relative;
    top: 5%;
    width: 100%;
    height: 90%;
    padding: 0;
}

.entry {
    position: relative;
    width: 50%;
    left: 50%;
    margin-bottom: 35px;
}

.entry:before {
    font-family: "Fira Mono", sans-serif;
    content: attr(data-label);
    position: absolute;
    width: 150px;
    text-align: right;
    left: -210px;
    top: 2px;
    font-size: 12px;
}

.recipient {
    p {
        margin-bottom: 0;
    }
}

p:before {
    font-family: "Fira Mono", sans-serif;
    content: attr(data-label);
    position: absolute;
    width: 150px;
    text-align: right;
    left: -210px;
    top: 2px;
    font-size: 12px;
}

.total p span {
    border-bottom: 4px solid #F6B203;
}

.big {
    font-size: 18px;
}

.total p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.numbers p {
    margin: 0;
}

.bold {
    font-weight:bold;
}

.contact {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;

    p {
        margin-bottom: 0;
    }
}

.logo {
    width: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.edit-container {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: max-content;
    background: white;
    padding: 16px 24px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    @media print {
        display: none;
    }

    .action-button {
        width: 100%;
    }

}

.save-template {
    margin-top: 40px;

}


</style>