<template>
  <div>
    <div class="flash-message" v-if="flash">
      {{ flash }}
    </div>
    <nuxt />
  </div>
</template>

<script>
export default {
  computed: {
    flash() {
      return this.$store.state.flashMessage
    }
  },
  watch: {
    flash() {
      if (this.flash != "") {
        setTimeout(() => {
          this.$store.commit("reset_flash")
        }, 3000)
      }
    }
  }
}
</script>

<style lang="scss">
html {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 40px;
}

button {
  font-family: "Lato";
}

a {
  text-decoration: none;
}

$color-accent-200: hsl(43, 98%, 85%);
$color-accent-300: hsl(43, 98%, 65%);
$color-accent-500: hsl(43, 98%, 49%);
$color-accent-900: hsl(43, 98%, 25%);
$color-neutral-200: hsl(210, 12%, 85%);
$color-neutral-300: hsl(210, 22%, 80%);
$color-neutral-500: hsl(210, 22%, 45%);
$color-neutral-900: hsl(210, 22%, 11%);

.action-button {
    height: 52px;
    width: 240px;
    border: 2px solid $color-accent-500;
    padding: 0;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding: 4px 8px;
    color: $color-neutral-900;
    position: relative;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 0px;
      background: $color-accent-500;
      transition: width .3s;
      z-index: -1;
  }

  &:hover {
      &:after {
          width: 100%;
      }
  }


}

.page-title {
    color: hsl(210, 22%, 11%);
    font-family: "Fira Mono";
    font-size: 32px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  border-right: 5px solid hsl(210, 22%, 11%);
  border-left: 5px solid hsl(210, 22%, 11%);
  padding: 80px;
}

.flash-message{
  border: 2px solid hsl(210, 22%, 11%);
  padding: 16px 24px;
  font-size: 24px;
  background: white;
  position: fixed;
  top: 200px;
  left: calc(50% - 200px);
  width: 400px;
  z-index: 10000;

  @media print {
    display: none;
  }
}

.test {
    @media print {
      display: none;
    }
  }
</style>
