<template>
  <div class="container">
    <h1>Rechnungen</h1>
    <nuxt-link :to="'/invoices/' + invoice.number + '/print'" class="invoice-link" v-for="invoice in invoices" :key="invoice.number">
      <p class="invoice-number">{{ invoice.number }}</p>
      <p class="invoice-recipient">{{ invoice.recipientName }}</p>
      <p class="invoice-date">{{ formatDate(invoice.date) }}</p>
    </nuxt-link>
    <nuxt-link to="/new-invoice" class="add-button"><svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          viewBox="0 0 357 357"
          style="enable-background:new 0 0 357 357;"
          xml:space="preserve"
          class
        >
          <g>
            <g>
              <g id="add">
                <path
                  d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"
                  data-original="#000000"
                  class="active-path"
                />
              </g>
            </g>
          </g>
        </svg>New</nuxt-link>
  </div>
</template>

<script>

export default {
  components: {
  },
  computed: {
    invoices() {
      return this.$store.state.invoices.list
    }
  },
  methods: {
    formatDate(datestr) {
        let date = new Date(datestr)
        let month = date.getMonth() + 1
        if (month < 10) {
            month = "0" + month
        }
        return `${date.getDate()}.${month}.${date.getFullYear()}`
    }
  }
}
</script>

<style lang="scss">
$color-accent-200: hsl(43, 98%, 85%);
$color-accent-300: hsl(43, 98%, 65%);
$color-accent-500: hsl(43, 98%, 49%);
$color-accent-900: hsl(43, 98%, 25%);
$color-neutral-200: hsl(0, 0%, 35%);
$color-neutral-300: hsl(210, 22%, 80%);
$color-neutral-500: hsl(210, 20%, 27%);
$color-neutral-900: hsl(210, 22%, 11%);

.invoice-link {
  margin-bottom: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 2% 73% 15%;
  grid-column-gap: 2%;
  font-size: 18px;
  align-items: flex-end;
}

.invoice-number {
  font-weight: bold;
  color: $color-neutral-900;
  position: relative;
  &:after {
    width: 100%;
    content: "";
    height: 50%;
    background: $color-accent-500;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.invoice-recipient {
  color: $color-neutral-900;
  font-size: 20px;
}

.invoice-date {
  color: $color-neutral-200;
}
</style>
