<template>
    <section class="container">
        <h3 class="page-title">Neue Rechnung</h3>
        <InvoiceForm></InvoiceForm>
        <button @click="createInvoice()" class="action-button">Erstellen</button>
    </section>
</template>

<script>
import InvoiceForm from "@/components/InvoiceForm"

export default {
    components: {
        InvoiceForm
    },
    computed: {
        invoice() {
            return this.$store.state.invoices.activeInvoice
        }
    },
    methods: {
        createInvoice() {
            this.$store.dispatch("invoices/create_invoice").then((number) => {
                this.$nuxt.$router.push({ name: 'invoices-number-print', params: { number: this.invoice.number }})
            })
        }
    },
    transition: {
        name: "slide-right"

    },
    fetch ({ store, route }) {
        return store.dispatch("invoices/new_invoice")
  }
}
</script>

<style lang="scss">

</style>
